{%extends "base.html"%}
{% block start%}

<div class="container mt-5">
  <form class="col-6 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <h2>Add Recipe</h2>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" name="recipe_name">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" ">Description</label>
      <textarea class="form-control" name="recipe_description"></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
      <input type="file" class="form-control" name="recipe_image">
    </div>

    <button type="submit" class="btn btn-success">Add Recipe</button>
  </form>

  <table class="table mt-5 table-striped table-hover table-bordered  shadow-lg">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Recipe Description</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for recipe in recipes %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{recipe.recipe_name}}</td>
        <td>{{recipe.recipe_description}}</td>
        <td><img src="/media/{{recipe.recipe_image}}" style="height:100px"></td>
        <td><a href="/delete-recipe/{{recipe.id}}" class = "btn btn-danger">Delete</a></td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>

</div>


{% endblock %}